@media only screen and (min-width: 1201px) {
    .itext{
        position: relative;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 35px;
        color: white;
        margin-top: 195px;
        margin-left: 45vw;
        padding-bottom: 60px;
    }

    .name{
        background: linear-gradient(to right, #d40022, #ff1e00);
        padding-bottom: 2px;
        padding-right: 2px;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .itext h2{
        font-size: 15px;
        font-style: revert;
        font-weight: lighter;
        padding-right: calc(100% - 35vw);
        padding-bottom: 25px;
        color: #aeaaaa;
    }
}