@media only screen and (min-width: 1201px) {
    .ibox {
        position: absolute;
        left: 0;
        width: 50%;
        height: 515px;
        background-color: #1e1e1e;
        z-index: 0;
    }
    .filler{
        position: absolute;
        width: 100%;
        height: 515px;
    }
}