@media only screen and (min-width: 768px) {
    .itext{
        position: relative;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 35px;
        color: white;
        margin-top: 25vh;
        margin-left: 45vw;;
        padding-bottom: 8vh;
    }

    .name{
        background: linear-gradient(to right, #d40022, #ff1e00);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .itext h2{
        font-size: 15px;
        font-style: revert;
        font-weight: lighter;
        padding-right: 40%;
        padding-bottom: 3vh;
        color: #aeaaaa;
    }
}