@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    background: radial-gradient(farthest-corner at 90% 3%, #282827 0.9%, #1d1d1d 30%, #181818 70%) no-repeat fixed;
    width: 100%;
    height: 100%;
}